# 서울 2호선 지하철 역별 시간대별 승하차 인원 EDA - 2호선 중심으로



#### Dataset

  +  서울시 지하철 호선별 역별 시간대별 승하차 인원 정보 (2015.01 ~ 2021.04)
          
          - [서울시열린데이터광장]

### 데이터 전처리 및 정제

In [33]:
import pandas as pd
import numpy as np

In [34]:
subway = pd.read_csv('Documents/data/subway.csv', encoding = 'cp949')
subway.head()   #상위 5개 데이터 확인. (2021년 4월까지 수집되어있음을 확인.)

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원,작업일자
0,202104,1호선,동대문,635,9,12446,1948,8958,7019,14035,...,8304,14,1286,1,2,0,0,0,0,20210503
1,202104,1호선,동묘앞,57,3,2966,885,3409,4736,5917,...,2344,3,1198,0,0,0,0,0,0,20210503
2,202104,1호선,서울역,746,16,9151,6038,11560,33958,36079,...,7638,13,570,0,0,0,0,0,0,20210503
3,202104,1호선,시청,29,0,1711,3796,2774,19145,6323,...,1308,5,86,0,0,0,0,0,0,20210503
4,202104,1호선,신설동,270,10,8305,3003,7977,10434,17091,...,5136,9,294,0,0,0,0,0,0,20210503

In [15]:
subway.tail()   #하위 5개 데이터 확인. 2015년 1월부터 수집한 데이터임을 알 수 있음.

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원,작업일자
44117,201501,중앙선,운길산,0,0,177,56,642,403,1292,...,633,3,222,0,0,0,0,0,0,20151223
44118,201501,중앙선,원덕,1,0,292,4,415,46,537,...,383,3,157,0,0,0,0,0,0,20151223
44119,201501,중앙선,중랑,14,1,4929,424,8539,2084,22160,...,6501,86,1617,0,0,0,0,0,0,20151223
44120,201501,중앙선,팔당,0,0,161,50,368,149,1227,...,336,8,85,0,0,0,0,0,0,20151223
44121,201501,중앙선,회기,436,3,10929,3067,23317,10430,65043,...,35702,767,9314,0,0,0,0,0,0,20151223

In [35]:
#지하철 2호선 데이터만 추출.

subway02 = subway[subway.호선명 == '2호선']
subway02

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원,작업일자
10,202104,2호선,강남,85,6,5464,10853,15861,49435,36772,...,12861,7,4,0,0,0,0,0,0,20210503
11,202104,2호선,강변(동서울터미널),8,1,7826,1835,25393,18766,76778,...,13648,3,292,0,0,0,0,0,0,20210503
12,202104,2호선,건대입구,143,5,13027,1840,19746,18737,50914,...,21087,11,2046,0,0,0,0,0,0,20210503
13,202104,2호선,교대(법원.검찰청),39,0,2090,6880,11797,25586,24036,...,7354,2,29,0,1,0,0,0,0,20210503
14,202104,2호선,구로디지털단지,172,6,39043,5617,52721,21441,134488,...,34189,0,78,0,0,0,0,0,0,20210503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43626,201501,2호선,종합운동장,10,0,2092,1164,9304,10333,27747,...,12105,399,3148,3,94,0,1,0,0,20151223
43627,201501,2호선,충정로,34,1,4186,1098,8041,7054,18579,...,10448,766,2977,0,41,0,0,0,0,20151223
43628,201501,2호선,한양대,8,0,1407,549,3287,5989,7258,...,4562,1017,1481,2,1,2,1,0,0,20151223
43629,201501,2호선,합정,62,0,10423,3732,20923,20515,58113,...,26576,6576,8031,4,232,0,0,0,0,20151223
43630,201501,2호선,홍대입구,1929,42,45905,4102,43456,19002,86687,...,64602,16096,22559,4,2584,0,0,0,0,20151223

In [36]:
# 2호선 지하철역 정보 확인.

set(subway02.지하철역)

{'강남',
 '강변',
 '강변(동서울터미널)',
 '건대입구',
 '교대',
 '교대(법원.검찰청)',
 '구로디지털단지',
 '구의',
 '구의(광진구청)',
 '낙성대',
 '낙성대(강감찬)',
 '당산',
 '대림',
 '대림(구로구청)',
 '도림천',
 '동대문역사문화공원',
 '동대문역사문화공원(DDP)',
 '뚝섬',
 '문래',
 '방배',
 '봉천',
 '사당',
 '삼성',
 '삼성(무역센터)',
 '상왕십리',
 '서울대입구',
 '서울대입구(관악구청)',
 '서초',
 '선릉',
 '성수',
 '시청',
 '신답',
 '신당',
 '신대방',
 '신도림',
 '신림',
 '신설동',
 '신정네거리',
 '신천',
 '신촌',
 '아현',
 '양천구청',
 '역삼',
 '영등포구청',
 '왕십리(성동구청)',
 '용답',
 '용두',
 '용두(동대문구청)',
 '을지로3가',
 '을지로4가',
 '을지로입구',
 '이대',
 '잠실',
 '잠실(송파구청)',
 '잠실나루',
 '잠실새내',
 '종합운동장',
 '충정로',
 '충정로(경기대입구)',
 '한양대',
 '합정',
 '홍대입구'}

In [37]:
subway.info()   #데이터 타입 확인, 결측치 확인.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44122 entries, 0 to 44121
Data columns (total 52 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   사용월           44122 non-null  int64
 1   호선명           44122 non-null  object
 2   지하철역          44122 non-null  object
 3   04시-05시 승차인원  44122 non-null  int64
 4   04시-05시 하차인원  44122 non-null  int64
 5   05시-06시 승차인원  44122 non-null  int64
 6   05시-06시 하차인원  44122 non-null  int64
 7   06시-07시 승차인원  44122 non-null  int64
 8   06시-07시 하차인원  44122 non-null  int64
 9   07시-08시 승차인원  44122 non-null  int64
 10  07시-08시 하차인원  44122 non-null  int64
 11  08시-09시 승차인원  44122 non-null  int64
 12  08시-09시 하차인원  44122 non-null  int64
 13  09시-10시 승차인원  44122 non-null  int64
 14  09시-10시 하차인원  44122 non-null  int64
 15  10시-11시 승차인원  44122 non-null  int64
 16  10시-11시 하차인원  44122 non-null  int64
 17  11시-12시 승차인원  44122 non-null  int64
 18  11시-12시 하차인원  44122 non-null  int64
 19  12시-13시 승차인원  44122 non-null  int64
 20  12시-13시 하차인원  44122 non-null  int64
 21  13시-14시 승차인원  44122 non-null  int64
 22  13시-14시 하차인원  44122 non-null  int64
 23  14시-15시 승차인원  44122 non-null  int64
 24  14시-15시 하차인원  44122 non-null  int64
 25  15시-16시 승차인원  44122 non-null  int64
 26  15시-16시 하차인원  44122 non-null  int64
 27  16시-17시 승차인원  44122 non-null  int64
 28  16시-17시 하차인원  44122 non-null  int64
 29  17시-18시 승차인원  44122 non-null  int64
 30  17시-18시 하차인원  44122 non-null  int64
 31  18시-19시 승차인원  44122 non-null  int64
 32  18시-19시 하차인원  44122 non-null  int64
 33  19시-20시 승차인원  44122 non-null  int64
 34  19시-20시 하차인원  44122 non-null  int64
 35  20시-21시 승차인원  44122 non-null  int64
 36  20시-21시 하차인원  44122 non-null  int64
 37  21시-22시 승차인원  44122 non-null  int64
 38  21시-22시 하차인원  44122 non-null  int64
 39  22시-23시 승차인원  44122 non-null  int64
 40  22시-23시 하차인원  44122 non-null  int64
 41  23시-24시 승차인원  44122 non-null  int64
 42  23시-24시 하차인원  44122 non-null  int64
 43  00시-01시 승차인원  44122 non-null  int64
 44  00시-01시 하차인원  44122 non-null  int64
 45  01시-02시 승차인원  44122 non-null  int64
 46  01시-02시 하차인원  44122 non-null  int64
 47  02시-03시 승차인원  44122 non-null  int64
 48  02시-03시 하차인원  44122 non-null  int64
 49  03시-04시 승차인원  44122 non-null  int64
 50  03시-04시 하차인원  44122 non-null  int64
 51  작업일자          44122 non-null  int64
dtypes: int64(50), object(2)
memory usage: 17.5+ MB

In [38]:
#사용월 데이터타입 변경.

from datetime import datetime
subway02['사용월'] = pd.to_datetime(subway02['사용월'],format = '%Y%m') 
subway02

<ipython-input-38-8ccc70c13681>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subway02['사용월'] = pd.to_datetime(subway02['사용월'],format = '%Y%m')

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원,작업일자
10,2021-04-01,2호선,강남,85,6,5464,10853,15861,49435,36772,...,12861,7,4,0,0,0,0,0,0,20210503
11,2021-04-01,2호선,강변(동서울터미널),8,1,7826,1835,25393,18766,76778,...,13648,3,292,0,0,0,0,0,0,20210503
12,2021-04-01,2호선,건대입구,143,5,13027,1840,19746,18737,50914,...,21087,11,2046,0,0,0,0,0,0,20210503
13,2021-04-01,2호선,교대(법원.검찰청),39,0,2090,6880,11797,25586,24036,...,7354,2,29,0,1,0,0,0,0,20210503
14,2021-04-01,2호선,구로디지털단지,172,6,39043,5617,52721,21441,134488,...,34189,0,78,0,0,0,0,0,0,20210503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43626,2015-01-01,2호선,종합운동장,10,0,2092,1164,9304,10333,27747,...,12105,399,3148,3,94,0,1,0,0,20151223
43627,2015-01-01,2호선,충정로,34,1,4186,1098,8041,7054,18579,...,10448,766,2977,0,41,0,0,0,0,20151223
43628,2015-01-01,2호선,한양대,8,0,1407,549,3287,5989,7258,...,4562,1017,1481,2,1,2,1,0,0,20151223
43629,2015-01-01,2호선,합정,62,0,10423,3732,20923,20515,58113,...,26576,6576,8031,4,232,0,0,0,0,20151223
43630,2015-01-01,2호선,홍대입구,1929,42,45905,4102,43456,19002,86687,...,64602,16096,22559,4,2584,0,0,0,0,20151223

In [39]:
#필요없는 열 제거 (작업일자,호선명)

subway02 = subway02.drop( columns = ['작업일자','호선명'])  #2호선만 모아있는 상태이므로 '호선명' 열제거.
subway02.head(20)

,사용월,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,07시-08시 하차인원,...,23시-24시 승차인원,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원
10,2021-04-01,강남,85,6,5464,10853,15861,49435,36772,151261,...,24062,12861,7,4,0,0,0,0,0,0
11,2021-04-01,강변(동서울터미널),8,1,7826,1835,25393,18766,76778,23506,...,4756,13648,3,292,0,0,0,0,0,0
12,2021-04-01,건대입구,143,5,13027,1840,19746,18737,50914,27089,...,10490,21087,11,2046,0,0,0,0,0,0
13,2021-04-01,교대(법원.검찰청),39,0,2090,6880,11797,25586,24036,57909,...,7416,7354,2,29,0,1,0,0,0,0
14,2021-04-01,구로디지털단지,172,6,39043,5617,52721,21441,134488,86206,...,7416,34189,0,78,0,0,0,0,0,0
15,2021-04-01,구의(광진구청),30,1,13200,937,25164,8987,65637,14610,...,4071,15456,6,944,0,0,0,0,0,0
16,2021-04-01,낙성대(강감찬),25,2,11258,1761,25229,8259,76184,20173,...,4319,20938,4,1078,0,0,0,0,0,0
17,2021-04-01,당산,30,2,6067,3104,15985,11409,44466,29588,...,4099,12279,2,149,0,0,0,0,0,0
18,2021-04-01,대림(구로구청),464,21,34342,3260,30696,11061,65452,23991,...,3208,16797,3,321,0,0,0,0,0,0
19,2021-04-01,도림천,4,0,270,301,1105,869,3119,4712,...,197,668,1,51,0,0,0,0,0,0
20,2021-04-01,동대문역사문화공원(DDP),370,2,6366,907,4912,7262,6371,24842,...,3953,5607,2,405,0,0,0,0,0,0
21,2021-04-01,뚝섬,19,9,3313,2167,7978,13543,18715,35950,...,3576,4968,0,82,0,0,0,0,0,0
22,2021-04-01,문래,27,1,3509,1970,12672,9770,42295,36291,...,3401,6710,1,211,0,2,0,0,0,0
23,2021-04-01,방배,3,0,2607,3446,9244,16438,23064,28739,...,3362,6048,0,3,0,0,0,0,0,0
24,2021-04-01,봉천,57,1,15494,1601,28410,6977,80538,12965,...,2702,17569,0,105,1,1,0,0,0,0
25,2021-04-01,사당,176,2,11371,3144,24859,26096,68802,40445,...,9966,23184,4,1460,0,0,0,0,0,0
26,2021-04-01,삼성(무역센터),115,0,4105,4724,6837,37355,14406,119470,...,6998,4382,1,1712,0,0,0,0,0,0
27,2021-04-01,상왕십리,55,1,5273,487,12879,5214,38534,12346,...,1648,8288,1,7,0,0,0,0,0,0
28,2021-04-01,서울대입구(관악구청),3597,15,27641,2305,42338,12828,123151,30814,...,9026,32725,0,6399,0,0,0,0,0,0
29,2021-04-01,서초,25,0,1260,4502,8928,19044,15581,48376,...,3614,3206,0,0,0,0,0,0,0,0

In [40]:
#열이름에 변수가 포함되어 있으므로 melt함수 활용하여 분할.

subway02_melt = subway02.melt(id_vars=['사용월','지하철역'],
                var_name = 'time_type',
                value_name = 'total')

subway02_melt.head(20)

          사용월            지하철역     time_type  total
0  2021-04-01              강남  04시-05시 승차인원     85
1  2021-04-01      강변(동서울터미널)  04시-05시 승차인원      8
2  2021-04-01            건대입구  04시-05시 승차인원    143
3  2021-04-01      교대(법원.검찰청)  04시-05시 승차인원     39
4  2021-04-01         구로디지털단지  04시-05시 승차인원    172
5  2021-04-01        구의(광진구청)  04시-05시 승차인원     30
6  2021-04-01        낙성대(강감찬)  04시-05시 승차인원     25
7  2021-04-01              당산  04시-05시 승차인원     30
8  2021-04-01        대림(구로구청)  04시-05시 승차인원    464
9  2021-04-01             도림천  04시-05시 승차인원      4
10 2021-04-01  동대문역사문화공원(DDP)  04시-05시 승차인원    370
11 2021-04-01              뚝섬  04시-05시 승차인원     19
12 2021-04-01              문래  04시-05시 승차인원     27
13 2021-04-01              방배  04시-05시 승차인원      3
14 2021-04-01              봉천  04시-05시 승차인원     57
15 2021-04-01              사당  04시-05시 승차인원    176
16 2021-04-01        삼성(무역센터)  04시-05시 승차인원    115
17 2021-04-01            상왕십리  04시-05시 승차인원     55
18 2021-04-01     서울대입구(관악구청)  04시-05시 승차인원   3597
19 2021-04-01              서초  04시-05시 승차인원     25

In [48]:
subway02_melt = ( subway02.melt(id_vars=['사용월','지하철역'],
                var_name = 'time_type',
                value_name = 'total')
                ['time_type']
                .str.split(expand = True)
                .rename(columns = {0:'time', 1:'type'})
                .assign(type = lambda x : x.type.str[0:2]    )              #승차인원 -> 승차로 변경. (type)
                        #time = lambda y : y.time.str[0:2]+y.time.str[3:6])   # 04시-05시 ->04-05로 변경(time)
                )

subway02_melt

           time type
0       04시-05시   승차
1       04시-05시   승차
2       04시-05시   승차
3       04시-05시   승차
4       04시-05시   승차
...         ...  ...
182395  03시-04시   하차
182396  03시-04시   하차
182397  03시-04시   하차
182398  03시-04시   하차
182399  03시-04시   하차

[182400 rows x 2 columns]

In [49]:
subway02_melt = subway02.melt(id_vars=['사용월','지하철역'],
                var_name = 'time_type',
                value_name = 'total')

time_type = (subway02_melt['time_type']
            .str.split(expand = True)
            .rename(columns = {0:'time', 1:'type'})
            .assign(type = lambda x : x.type.str[0:2],                    #승차인원 -> 승차로 변경. (type)
                    time = lambda y : y.time.str[0:2]+y.time.str[3:6]))   # 04시-05시 ->04-05로 변경(time))

subway02_concat=pd.concat([subway02_melt[['사용월','지하철역','total']], time_type],axis =1)
subway02_concat

              사용월        지하철역  total   time type
0      2021-04-01          강남     85  04-05   승차
1      2021-04-01  강변(동서울터미널)      8  04-05   승차
2      2021-04-01        건대입구    143  04-05   승차
3      2021-04-01  교대(법원.검찰청)     39  04-05   승차
4      2021-04-01     구로디지털단지    172  04-05   승차
...           ...         ...    ...    ...  ...
182395 2015-01-01       종합운동장      0  03-04   하차
182396 2015-01-01         충정로      0  03-04   하차
182397 2015-01-01         한양대      0  03-04   하차
182398 2015-01-01          합정      0  03-04   하차
182399 2015-01-01        홍대입구      0  03-04   하차

[182400 rows x 5 columns]


### EDA

In [55]:
# 지하철역별 평균 승객수 내림차순으로 정렬.

subway02_mean = (
    subway02_concat
    .groupby(['지하철역'])['total']
    .agg(['mean'])
    .sort_values('mean',ascending=False) 
)
subway02_mean = subway02_mean[['mean']].astype(int)   #평균값 정수로 변환.
subway02_mean

             mean
지하철역
강남         119779
잠실         101269
잠실(송파구청)    97629
홍대입구        92998
신림          84779
...           ...
용답           3242
용두           2914
용두(동대문구청)    2857
신답           1871
도림천          1423

[62 rows x 1 columns]

In [56]:
 #2015 ~2021년 4월 지하철 2호선 평균 승객수.
subway02_mean.mean().astype(int)

mean    37792
dtype: int32